body {
  background-color: #1A1A43;
  height: 100vh;
}

.page {
  margin-top: 10rem;
}

.form {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, h2 {
  font-family: 'Courier New', Courier, monospace;
  color: #8D775C;
  font-weight: bold;
  font-size: 1.5rem;
}

input {
  font-size: 0.9rem;
  background-color: #4E2F08;
  color: #8D775C;
  border: 1px black solid;
  height: 1.2rem;
}

input:focus {
  outline: none;
}

.log-in-btn {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 1.2rem;
  height: 2rem;
  cursor: pointer;
}

.log-in-btn:hover {
  background-color: #8D775C;
  color: #4E2F08;
}

span {
  color: red;
  opacity: 50%;
}

.error-msg {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.2rem;
  color: red;
  opacity: 70%;
}